@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@200;300;400;500;600;700;800&display=swap");

*{
    margin:0px;
    box-sizing: border-box;
    outline: none;
    text-decoration: none;
}

body{
    background-color: rgb(56, 56, 56);
    display: flex;
    flex-direction: column;
    height: 100vh;
}

.navbar{
    height: 9vh;
    min-height: 60px;
    max-height: 100px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-shrink: 0;
}

.short-logo{
    font-family: "Poppins", sans-serif;
    font-weight: 900;
    display: none;
    color:white;
}

.short-logo span{
    color: #0c6a53;
}

.logo{
    color:white;
}

.logo p{
    font-family: "Poppins", sans-serif;
    font-weight: 900;
}

.logo a{
    color: inherit;
}

.logo span{
    color: #0c6a53;
}

.button{
    background-color: #0c6a53;
    border-radius: 100px;
    color: white;
    cursor: pointer;
    transition: 0.5s;
    padding: 10px 20px 10px 20px;
    margin-right: 20px;
}

.button-text{
    padding-left: 10px;
    font-family: "Poppins", sans-serif;
    font-weight: 600;
    color: white;
}

.button:hover{
    background-color: #0f7e62;
}

@media (max-width: 500px) {
    .button{
        background: none;
        padding: 5px 5px 5px 5px;
        font-size: 2.5vh;
    }
    
    .button:hover{
        background-color: none;
    }

    .button-text{
        display: none;
    }
}

@media (max-width: 300px) {
    .short-logo{
        display: block;
    }

    .logo{
        display: none;
    }
}
