.content{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    flex: 1;
    overflow: hidden;
    width: 100%;
}

.container{
    padding-top: 7vh;
    width: 60vw;
    display:flex;
    flex-direction: column;
    font-size: 15px;
    font-family: 'Poppins', sans-serif;
    overflow: auto;
    scrollbar-width: none;
}

.imagediv{
    text-align: right;
    margin-top: 2vh;
    margin-bottom: 2vh;
}

.image{
    border-color: rgb(65, 65, 65);
    border-style: solid;
    border-width: 0.3vw;
    border-radius: 15px;
    height: 200px;
}

.bot{
    color: rgb(255, 255, 255);
    background-color: rgb(65, 65, 65);
    
    margin-top: 2vh;
    margin-bottom: 2vh;
    max-width: 90%;

    padding: 15px 15px 15px 15px;

    word-wrap: normal;

    border-radius: 15px;
    align-self: flex-start;
    text-align: left;
}

.user{
    color: rgb(255, 255, 255);
    background-color: rgb(65, 65, 65);

    margin-top: 2vh;
    margin-bottom: 2vh;
    max-width: 90%;

    padding: 15px 15px 15px 15px;

    border-radius: 15px;
    align-self: flex-end;
    text-align: left;
}

.form{
    display: flex;
    justify-content: center;
    margin-bottom: 3vh;
}

.input{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 70vw;
    position: relative;
}

textarea.inputbox {
    border: none;
    background-color:rgb(75, 75, 75);
    padding-top: 0.5em;
    padding-left: 1.5em;
    padding-bottom: 0.5em;
    padding-right: 4em;
    border-radius: 15px;
    resize: none; /* Prevents manual resizing */

    width: 100%;

    font-family: 'Poppins', sans-serif;
    font-weight: 600;
    font-size: 15px;
    color: white;

    overflow: hidden; /* Hides scrollbars */
    word-wrap: break-word;

    max-height: 20vh;
}

.submit{
    border: none;
    outline: none;
    background-color:rgb(75, 75, 75);
    font-size: 15px;
    position: absolute;
    right: 1%;
}

@media (max-width: 1024px){
    .container{
        width: 80vw;
    }

    .input{
        width: 85vw;
    }
}

@media (max-width: 425px){
    .container{
        width: 95vw;
    }

    .input{
        width: 95vw;
    }
}