@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@200;300;400;500;600;700;800&display=swap");

input:-webkit-autofill,
input:-webkit-autofill:hover,
input:-webkit-autofill:focus,
textarea:-webkit-autofill,
textarea:-webkit-autofill:hover,
textarea:-webkit-autofill:focus,
select:-webkit-autofill,
select:-webkit-autofill:hover,
select:-webkit-autofill:focus {
    border: none;
    -webkit-box-shadow: none;
    transition: background-color 5000s ease-in-out 0s;
}

.updatepassword{
  flex: 1;
  display: flex;
  justify-content: center;
  align-items: center;
}

.updatepassword-form{
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 370px;
}

.title {
  font-size: 35px;
  color: #fff;
  margin-bottom: 10px;
  font-family: "Poppins", sans-serif;
}

.input-field {
  display: flex;
  justify-content: flex-start;
  align-items: center;
  background-color: white;
  width: 100%;
  margin-top: 10px;
  margin-bottom: 10px;
  border-radius: 1000px;
}

.input-field i {
  color: #acacac;
  font-size: 15px;
  margin-left: 20px;
}

.input-field input {
  padding-top: 15px;
  padding-bottom: 15px;
  padding-left: 10px;
  background: none;
  width: 100%;
  outline: none;
  border: none;
  font-weight: 600;
  font-size: 15px;
  color: #333;
}

.input-field input::placeholder {
  color: #aaa;
  font-weight: 500;
}

p{
  font-family: "Poppins", sans-serif;
  font-weight: 600;
  text-align: center;
}

.error {
  color:red;
}

.status {
    color:green;
}

.btn-text{
  background-color: #0c6a53;
  border-radius: 1000px;
  border: none;
  
  transition: 0.5s;
  
  text-transform: uppercase;
  font-weight: 600;
  font-size: 1rem;
  color: #fff;

  cursor: pointer;

  padding: 15px 25px 15px 25px;
  margin-top: 20px;
}
    
.btn-text:hover {
  background-color: #0f7e62;
}

@media (max-width: 500px) {
  .updatepassword-form{
    width: 300px;
  }
}

@media (max-width: 400px) {
  .updatepassword-form{
    width: 250px;
  }

  .title{
    font-size: 25px;
  }

  .input-field i {
    color: #acacac;
    font-size: 13px;
    margin-left: 15px;
  }

  .input-field input {
    padding-top: 10px;
    padding-bottom: 10px;
    padding-left: 10px;
    font-size: 12px;
    color: #333;
  }

  .btn-text{
    font-size: 15px;
    padding: 10px 15px 10px 15px;
    margin-top: 10px;
  }
}

@media (min-width: 2000px) {
  .updatepassword-form{
    width: 600px;
  }

  .title{
    font-size: 55px;
  }

  .input-field i {
    color: #acacac;
    font-size: 25px;
    margin-left: 30px;
  }

  .input-field{
    margin-top: 15px;
    margin-bottom: 15px;
  }

  .input-field input {
    padding-top: 25px;
    padding-bottom: 25px;
    padding-left: 15px;
    font-size: 25px;
    color: #333;
  }

  .btn-text{
    font-size: 25px;
    padding: 20px 25px 20px 25px;
    margin-top: 40px;
  }
}