<!-- signup_success.html -->
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="refresh" content="0;url=/">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Sign Up Success</title>
</head>
<body>
    <script>
        // Define the resetModePreference function to remove 'mode' from localStorage
        function resetModePreference() {
            localStorage.removeItem('mode');
        }

        // Call the resetModePreference function after sign-up
        resetModePreference();
    </script>
</body>
</html>
